// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-style-inline {
  display: inline;
  background-color: #e57373;
  border: 1px solid #f44336;
  padding: 10px;
}
